@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}
<ul class="gigs">
    @foreach (var Gig in Model)
    {
    <li>
        <div class="date">
            <div class="month">@Gig.DateTime.ToString("MMM")</div>
            <div class="day">@Gig.DateTime.ToString("d ")</div>
        </div>
        <div class="details">
            <span class="artist">@Gig.Artist.Name</span>
            <span class="genre">@Gig.Genre.Name</span>
        </div>
    </li>
    }

</ul>